<style>
  .card {
    background-color: #fbf8f5 !important;
  }

  .company-slogan {
    font-size: 3.5rem;
    font-family: Staatliches, Robot, "Arial Narrow", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.05em;
  }

  .company-offering {
    font-weight: 400;
    letter-spacing: -0.05em;
    color: #cbb26a;
  }

  .company-offering-text {
    font-size: 2rem;
    font-family: Staatliches, "Arial Narrow", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 1em;
  }

  .company-introduce {
    font-size: 1.3rem;
    font-family: Alata, Arial, sans-serif;
    font-weight: 500;
    line-height: 2rem;
    text-align: justify;
  }

  .card-title {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    font-family: Staatliches, "Arial Narrow", Arial, sans-serif;
  }

  .service-text {
    font-weight: 500;
    font-family: Alata, Arial, sans-serif;
  }

  .logo {
    height: 2rem;
  }

  footer {
    background-color: #f2f2f2 !important;
  }

  image {
    max-width: 100%;
    height: auto;
    align-self: flex-start;
  }

  @media screen and (max-width: 992px) {
    .company-slogan {
      font-size: x-large;
    }
  }
</style>

<div class="container-fluid border-0 no-gutters" role="main">
  <!-- Toolbar -->
  <div class="toolbar" role="nav">
    <div class="row justify-content-center">
      <div class="col justify-content-center d-flex pt-2">
        <img
          class="logo"
          src="/assets/images/Logo/png/BlackNoBg.png"
          alt="Black Logo"
        />
      </div>
    </div>
  </div>
  <!-- Highlight Card -->
  <div class="row justify-content-center">
    <div class="card col-lg-6 col-sm-8 border-0 justify-content-center pt-2">
      <p class="text-uppercase text-center company-slogan py-4">
        The tech experts
      </p>
      <p class="company-introduce text-center">
        We are pleased to be a Sydney-based information technology company.
        Visit us, and let us help you.
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="card col border-0">
      <img mat-card-image src="/assets/images/About/about4.jpg" alt="About4" />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="card col-lg-6 col-sm-8 border-0 justify-content-center">
      <p class="text-uppercase company-offering text-center pt-4">
        OUR OFFERING
      </p>
      <p class="text-uppercase company-offering-text text-center">
        From us, you can expect the following
      </p>
    </div>

    <div class="row">
      <div class="card col-12 col-md-4 border-0">
        <img
          mat-card-image
          src="/assets/images/About/about1.jpg"
          alt="About1"
        />
        <p class="card-title text-uppercase pt-3">Efficient website building</p>

        <p class="service-text">
          Let us know when you need your website up and running. We'll build it
          for you within the shortest time possible, with the most remarkable
          features, such as great design and mobile-friendliness.
        </p>
      </div>
      <div class="card col-12 col-md-4 border-0">
        <img
          mat-card-image
          src="/assets/images/About/about2.jpg"
          alt="About2"
        />
        <p class="card-title text-uppercase pt-3">
          Fast solving of computer problems
        </p>

        <p class="service-text">
          If your computers are experiencing glitches and affecting the
          efficiency of your work, let us know. We'll identify the problem and
          fix it quickly.
        </p>
      </div>
      <div class="card col-12 col-md-4 border-0">
        <img
          mat-card-image
          src="/assets/images/About/about3.jpg"
          alt="About3"
        />
        <p class="card-title text-uppercase pt-3">Incredible service</p>
        <p class="service-text">
          All our IT professionals are helpful, kind, and respectful at all
          times.
        </p>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="row py-2">
        <div class="col-4 d-flex justify-content-center">
          <img
            class="logo"
            src="/assets/images/Logo/png/ColorNoBg.png"
            alt="Color Logo"
          />
        </div>
        <div class="col-7 d-flex justify-content-end">
          <p>
            Phone: 0411758128 <br />
            Email: info@fengtech.com.au
          </p>
        </div>
        <div class="col-1">
          <p>&nbsp;</p>
        </div>
      </div>
    </footer>
  </div>

  <router-outlet></router-outlet>
</div>
