<style>
  about-card {
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner"></div>

<div class="container" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-small">
    <h1>The tech experts</h1>
    <h2>
      We are pleased to be a Campsie-based information technology company. Visit
      us, and let us help you.
    </h2>
  </div>
  Contact us OUR OFFERING From us, you can expect the following:
  <div class="row">
    <mat-card class="col">
      <mat-card-header>
        <mat-card-title> Efficient website building</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/images/About/about1.jpg" alt="About1" />
      <mat-card-content>
        <p>
          Let us know when you need your website up and running. We'll build it
          for you within the shortest time possible, with the most remarkable
          features, such as great design and mobile-friendliness.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="col">
      <mat-card-header>
        <mat-card-title> Fast solving of computer problems</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/images/About/about2.jpg" alt="About2" />
      <mat-card-content>
        <p>
          If your computers are experiencing glitches and affecting the
          efficiency of your work, let us know. We'll identify the problem and
          fix it quickly.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="about-card">
      <mat-card-header>
        <mat-card-title> Incredible service</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/images/About/about3.jpg" alt="About3" />
      <mat-card-content>
        <p>
          All our IT professionals are helpful, kind, and respectful at all
          times.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Footer -->
  <footer></footer>
</div>

<router-outlet></router-outlet>
