<style>
  .card {
    background-color: #fbf8f5 !important;
  }

  .company-slogan {
    font-size: 3.5rem;
    font-family: Staatliches, Robot, "Arial Narrow", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.05em;
  }

  .company-offering {
    font-weight: 400;
    letter-spacing: -0.05em;
    color: #cbb26a;
  }

  .company-offering-text {
    font-size: 2rem;
    font-family: Staatliches, "Arial Narrow", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 1em;
  }

  .company-introduce {
    font-size: 1.3rem;
    font-family: Alata, Arial, sans-serif;
    font-weight: 500;
    line-height: 2rem;
    text-align: justify;
  }

  .card-title {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    font-family: Staatliches, "Arial Narrow", Arial, sans-serif;
  }

  .service-text {
    font-weight: 500;
    font-family: Alata, Arial, sans-serif;
  }

  .logo {
    height: 2rem;
  }

  footer {
    background-color: #f2f2f2 !important;
  }

  @media screen and (max-width: 992px) {
    .company-slogan {
      font-size: x-large;
    }
  }
</style>

<div class="container-fluid border-0 no-gutters" role="main">
  <!-- Toolbar -->
  <div class="toolbar" role="nav">
    <div class="row justify-content-center">
      <div class="col justify-content-center d-flex pt-2">
        <img
          class="logo"
          src="/assets/images/Logo/png/BlackNoBg.png"
          alt="Black Logo"
        />
      </div>
    </div>
  </div>
  <!-- Highlight Card -->
  <div class="row justify-content-center">
    <div class="card col-lg-6 col-sm-8 border-0 justify-content-center pt-2">
      <p class="text-uppercase text-center company-slogan py-4">
        Professional Services
      </p>
      <p class="company-introduce text-center">
        As a company operating out of Sydney, we take pride in providing information technology services to our clients.
      </p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="card col border-0">
      <img
        class="img-responsive img-fluid ratio ratio-4x3"
        src="/assets/images/About/about4.jpg"
        alt="About4"
      />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="card col-lg-6 col-sm-8 border-0 justify-content-center">
      <p class="text-uppercase company-offering text-center pt-4">
        Comprehensive IT Services
      </p>
      <p class="text-uppercase company-offering-text text-center">
        What you can anticipate receiving:
      </p>
    </div>

    <div class="row">
      <div class="card col-12 col-md-4 border-0">
        <img
          class="img-responsive img-fluid ratio ratio-4x3"
          src="/assets/images/About/about1.jpg"
          alt="About1"
        />
        <p class="card-title text-uppercase pt-3">Website Development Services</p>

        <p class="service-text">
          Inform us of your desired timeline for website development, and we will construct it promptly while incorporating impressive attributes, such as exceptional design and mobile optimization.
        </p>
      </div>
      <div class="card col-12 col-md-4 border-0">
        <img
          class="img-responsive img-fluid ratio ratio-4x3"
          src="/assets/images/About/about2.jpg"
          alt="About2"
        />
        <p class="card-title text-uppercase pt-3">
          Reliable Maintenance Services
        </p>

        <p class="service-text">
          In the event of your computers encountering technical difficulties that impact productivity, please inform us, and we will promptly diagnose and rectify the issue.
        </p>
      </div>
      <div class="card col-12 col-md-4 border-0">
        <img
          class="img-responsive img-fluid ratio ratio-4x3"
          src="/assets/images/About/about3.jpg"
          alt="About3"
        />
        <p class="card-title text-uppercase pt-3">Personable and Professional IT Expert</p>
        <p class="service-text">
          We pride ourselves on employing IT professionals who consistently demonstrate helpfulness, kindness, and respect towards all individuals.
        </p>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="row py-2">
        <div class="col-4 d-flex justify-content-center">
          <img
            class="logo"
            src="/assets/images/Logo/png/ColorNoBg.png"
            alt="Color Logo"
          />
        </div>
        <div class="col-7 d-flex justify-content-end">
          <p>
            Phone: 0411758128 <br />
            Email: info&#64;fengtech.com.au
          </p>
        </div>
        <div class="col-1">
          <p>&nbsp;</p>
        </div>
      </div>
    </footer>
  </div>

  <router-outlet></router-outlet>

</div>
