.container {
    max-width: 90%;
    margin: auto;
    padding: 20px;
    height: 95vh;
    overflow: false;
}

.form-control {
    font-size: 1.2rem;
}

.mb-3 {
    flex-grow: 1;
}

.btn {
    width: 100%;
}

.input-group {
    position: relative;
}

.input-group .form-control:focus {
    z-index: 0;
}

.input-group-append {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
