.card {
    background-color: #fbf8f5 !important;
}

.company-slogan {
    font-size: 3.5rem;
    font-family: Staatliches, Robot, "Arial Narrow", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.company-offering {
    font-weight: 400;
    letter-spacing: -0.05em;
    color: #cbb26a;
}

.company-offering-text {
    font-size: 2rem;
    font-family: Staatliches, "Arial Narrow", Arial, sans-serif;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 1em;
}

.company-introduce {
    font-size: 1.3rem;
    font-family: Alata, Arial, sans-serif;
    font-weight: 500;
    line-height: 2rem;
    text-align: justify;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -0.05em;
    font-family: Staatliches, "Arial Narrow", Arial, sans-serif;
}

.service-text {
    font-weight: 500;
    font-family: Alata, Arial, sans-serif;
}

.logo {
    height: 2rem;
}
